* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/** hero section **/
#hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assests/hero.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(50%);
}
#hero_content {
    position: absolute;
}
#hero_content h1 {
    color: #fff;
    font-size: 2.8rem;
    text-shadow: 2px 2px 2px #000;
}
#hero_content h2 {
    color: #fff;
    font-size: 2rem;
    font-family: cursive;
    margin-bottom: 4rem;
}
#hero_content a {
    color: #fff;
    padding: 5px 20px 5px 20px;
    border: 1px solid orange;
    background: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 25px;
}
#hero_content a:hover {
    background: navy;
}

/** header section **/
#header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    line-height: 70px;
}
#navbar {
    display: flex;
    justify-content: space-around;
    background: rgb(0, 0, 0, 0.5);
}
#navbar h1{
    color: orange;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px #000;
    font-family: cursive;
}
#navbar ul {
    display: flex;
}
#navbar ul li {
    list-style: none;
    padding: 3px 15px 3px 15px;
} 
#navbar ul li:hover,#phone a:hover,#mobile_menu ul li:hover {
    background: navy;
    cursor: pointer;
}
#navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}
#phone a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px 15px 3px 15px;
    border: 1px solid orange;
}
#mobile_menu {
    display: none;
    height: 40px;
    line-height: 40px;
    background-color: magenta;
}
#mobile_menu ul{
    display: flex;
    justify-content: center;
}
#mobile_menu ul li {
    list-style: none;
    padding: 0 5px 0 5px;
}
#mobile_menu ul li a {
    text-decoration: none;
    color: #fff;
}


/** menu_section **/
#menu {
    padding: 25px 0 25px 0;
}
#section {
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana;
}
#menu_row {
    display: flex;
    padding: 0 100px 0 100px;
}
#menu_col {
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 5px;
    padding: 10px;
    flex: 1;
}
#menu_col h2 {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-family: cursive;
}
#image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid orange;
}
#image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}

/** chef section **/
#chef {
    padding: 25px 0 25px 0;
}
#chef_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.chef_col {
    text-align: center;
    padding: 10px;
    margin: 5px;
}
#img {
    width: 200px;
    height: 250px;
    margin: auto;
}
#img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/** About Section **/
#about {
    padding: 25px 0 25px 0;
}
#about_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px 0 100px;
}
.about_col {
    flex: 1;
}
#about_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
}
#about_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
}
.about_col h1 {
    text-align: center;
    font-family: cursive;
}
.about_col p {
    text-align: justify;
    font-weight: bold ;
}

/** contact section **/
#contact {
    padding: 25px 0 25px 0;
}
#contact_row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
}
.contact_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.contact_col p, h3 {
    font-weight: bold;
    color: #292929;
}
.contact_col p a {
    text-decoration: none;
    color: #292929;
}
#social a {
    color: magenta;
    margin: 3px;
}
.contact_col form {
    display: flex;
    flex-direction: column;
    background-color: magenta;
    width: 70%;
    padding: 20px 40px 20px 20px;
}
.contact_col form h2 {
    text-align: center;
    font-family: cursive;
}
.contact_col form input{
    width: 100%;
    height: 17pt;
    padding: 5px;
    margin: 5px;
}
.contact_col form textarea {
    width: 100%;
    padding: 5px;
}
.contact_col form button {
    margin: auto;
    padding: 10px;
    color: #fff;
    background-color: orange;
    border: 1px solid orange;
}

/** footer **/
#footer {
    background-color: #292929;
    padding: 20px;
    position: relative;
}
#footer h5 {
    text-align: center;
    color: orange;
}
#footer h5 a {
    color: #fff;
    text-decoration: none;
}
#top {
    position: absolute;
    bottom: 12px;
    right: 12px;
}
#top a {
    color: #fff;
    font-size: 1.2rem;
}





@media screen and (max-width : 768px){
    #header {
        position: absolute;
    }
    #mobile_menu {
        display: block;
    }
    #navbar {
        display: none;
    }
    html{
        font-size: 95%;
    }
    #menu_row,#about_row {
        flex-wrap: wrap;
        padding: 0 10px 0 10px;
    }
}
@media screen and (max-width : 360px) {
    html{
        font-size: 70%;
    }
    #about_img{
        width: 220px;
        height: 220px;
    }
}
